# Compiled class files
*.class

# Log files
*.log

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/

# Maven files
target/

# Gradle files
build/
out/

# JAR files
*.jar

# Temporary files
*.tmp

# macOS specific files
.DS_Store
